<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Convictions</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container my-2">
    <h1 th:text="'Convictions of ' + ${personFullName}"></h1>

    <table class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Description</th>
            <th>Date</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="conviction : ${convictions}">
            <td th:text="${conviction.getDate()}"></td>
            <td th:text="${conviction.getDescription()}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="'/convictions/add_new_conviction/' + ${user.getPersonalNo()}" class="btn btn-primary btn-sm mb-3">Add Conviction</a>
    <a th:href="'/users/personalNo?personalNo=' + ${user.getPersonalNo()}" class="btn btn-primary btn-sm mb-3">View User</a>
    <h6 th:text="${noPermission}" class="text-danger"></h6>
</div>
</body>
</html>