<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container my-2">
    <h1>User List</h1>
    <table class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Personal No</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getPersonalNo()}"></td>
            <td th:text="${user.getAddress()}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/users/add-user/" class="btn btn-primary btn-sm mb-3">Add User</a>
</div>
</body>
</html>